scripts/archivo/*
script/descargar-pictos-playwright.py
script/generar-catalogo-pictos.py
script/procesar-pictos.py
scripts/limpiar-pictos.py
scripts/pictos-art-csv.py
assets/pictogramas/en/*
assets/pictogramas/es/*